.about{


    position:relative;


    padding:

        160px 7vw;



    overflow:hidden;



    background:


        radial-gradient(
            circle at 80% 40%,
            rgba(247,171,34,.12),
            transparent 30%
        ),



        linear-gradient(

            180deg,

            var(--wine),

            rgb(14,8,8)

        );

}




.about::before{


    content:"";


    position:absolute;


    width:500px;


    height:500px;


    right:-200px;


    top:20%;



    background:

        radial-gradient(
            circle,
            rgba(247,171,34,.12),
            transparent 70%
        );

}



.about-grid{


    position:relative;


    z-index:2;



    display:grid;



    grid-template-columns:

        1.1fr .9fr;



    gap:

        8vw;



    align-items:center;



    max-width:1700px;



    margin:auto;

}







.about-label{


    display:inline-block;



    margin-bottom:35px;



    color:var(--gold-light);



    letter-spacing:6px;



    font-size:.8rem;



    font-weight:700;

}








.about-left h2{


    font-family:"Rye",serif;



    font-size:

        clamp(4rem,7vw,7rem);



    line-height:.85;



    margin-bottom:45px;



    color:var(--cream);



    text-transform:uppercase;

}








.about-left p{


    max-width:700px;



    color:

        rgba(255,255,255,.82);



    font-size:1.2rem;



    line-height:2;



    margin-bottom:30px;

}









/* DIREITA */



.about-right{


    display:flex;



    flex-direction:column;



    justify-content:center;

}








.manifesto{


    padding:

        35px;



    border-left:

        3px solid var(--gold-light);



    background:

        rgba(0,0,0,.18);



    backdrop-filter:blur(10px);

}






.manifesto span{


    color:

        var(--gold-light);



    font-size:.75rem;



    letter-spacing:4px;

}






.manifesto h3{


    margin-top:25px;



    color:white;



    font-size:

        clamp(2rem,3vw,3rem);



    line-height:1.2;



    font-weight:700;

}








.divider{


    width:140px;


    height:3px;



    background:

        var(--gold-light);



    margin:

        50px 0;

}








.keywords{


    display:flex;



    flex-wrap:wrap;



    gap:14px;

}





.keywords span{


    border:

        1px solid rgba(255,255,255,.18);



    color:white;



    padding:

        12px 20px;



    border-radius:999px;



    letter-spacing:2px;



    font-size:.75rem;



    transition:.3s;



    background:

        rgba(255,255,255,.03);

}






.keywords span:hover{


    background:

        var(--gold-light);



    color:

        var(--wine);



    transform:

        translateY(-5px);

}









@media(max-width:1000px){



    .about{


        padding:

            100px 32px;

    }




    .about-grid{


        grid-template-columns:1fr;


        gap:70px;

    }



}







@media(max-width:700px){



    .about{


        padding:

            80px 24px;

    }




    .about-left h2{


        font-size:

            3rem;

    }




    .manifesto{


        padding:

            25px;

    }




    .manifesto h3{


        font-size:

            2rem;

    }



}