.container{

    width:100%;

    max-width:none;

    padding:0 80px;

}


.container-wide{

    max-width:1700px;

}


.container-narrow{

    max-width:900px;

}


@media(max-width:768px){

    .container{

        padding:0 20px;

    }

}