.container{

    width:min(
        var(--container-width),
        calc(100% - 64px)
    );

    margin:0 auto;

}

@media(max-width:768px){

    .container{

        width:calc(100% - 32px);

    }

}